/*
* @Author: Dell
* @Date:   2019-12-25 18:40:41
* @Last Modified by:   Dell
* @Last Modified time: 2019-12-25 22:26:02
*/
        	*{
                margin: 0px;
                padding: 0px;
            }
            body{
                background-color: white;
            }
            a{
                text-decoration: none;
                color: #000;
            }
            ul{
                list-style: none;
            }
            input{ 
                outline: none 
            } 
            #header{
                float: left;
                position:fixed;
                top:0px;
                width: 100%;
                height:80px ;
                background: white;
            }
            #header1{
                float: left;
                margin-left: 30px;
                margin-top: 8px;
                transform:scale(0.7);
            }
            #header2{
                float: left;
                margin-left: 320px;
                margin-top: -25px;
                transform:scale(0.7);
            }
            #header3{
                float: right;
                margin-right:20px;
                margin-top:8px ;
                transform:scale(0.7);
                cursor: pointer
            }
            #header3>input{
                width: 20px;
                height: 20px;
                border:none;
                border-radius:50%;  
                display: block;
                float: right;
            }
            #list{
                width:100%;
                height:100%;
                position:fixed;
                border:2px #000 solid;
                margin-left:0px;
                float:left;
                display:none;
            }
            #list input{
                float:left;
                margin-left:150px;
                margin-top:35px;
                border:none;
                background-color:transparent;
                font-weight: bold;
                font-size:20px;
            }
            #shopcar{
                height:300px;
                width: 250px;
                float: right;
                margin-top: 30px;
                text-align: center;
                position: fixed;
                top: 140px;
                display: none;
                background-color: #000;
                opacity :0.7;
                border-radius:40px 40px 40px 40px;
                color: #fff;
                margin-left: 2px;
            }
            #containner{
                height: 1800px;
                background-color: #FFB6C1;
                margin-bottom: 40px;
            }
            #giftCard{
                float: left;
                margin-top: 120px;
                margin-left:110px;   
            }
            #img1{
                width: 1100px;
                height: 330px;
            }
            #cards{
                float: left;
                height:1350px ;
                padding-left: 30px;
            }
            .imgs{
                margin-left: 15px;
                margin-top: 20px;
                width: 350px;
                height: 470px;
            }
            #cards>ul>li{
                background: white;
                float: left;
                margin-left: 20px;
                margin-top: 30px;
                display:inline-block;
                width: 380px;
                height: 600px;
            }
            #cards>ul>li>div>p{
                width: 380px;
                height: 45px;
                display: block;
                line-height: 45px;
                text-align: center;
                font-family:  Hanzipen SC;
            }
            #cards>ul>li>div>button{
                margin-left:15px;
                width: 350px;
                height: 40px;
                font-family:  Hanzipen SC;
                background-color: black;
                color: white;
                cursor: pointer;
                border: 1px black solid;
            }
            #copyright {
                text-align: center;  
            }
            #copyright>.word{
                font-weight:bold ;
                font-size: 20px;
            }
            #email{
                margin:0 auto;
                width: 705px;
                height: 51px;
                position: absolute;
                left: 50%; 
                margin-left: -350px;
            }
            .email{
                width: 70%;
                height: 50px;
                margin-top: 20px;
                border: 1px #000 solid;
                float: left;
                color: #ccc;    
            }
            .enter{
                width: 28.3%;
                height: 51px;
                border: 1px #000 solid;
                border-left:0px; 
                margin-top: 20px;
                background-color: #fff;
                float: left;
                cursor: pointer
            }
            #p3{
                display: inline-block;
                width: 500px;
                margin-top: 10px;
                font-size: 10px;
                color: #ccc;
            }
            #about{
                margin:0 auto;
                width: 500px;
                height: 150px;
                position: absolute;
                left: 50%; 
                margin-top: 150px; 
                margin-left: -250px;
            }
            #search{
                width: 100%;
                height: 100px;
                position: fixed;
                top: 80px;
                display: none;
                background-color: #FFFAF0;
            }
            .search{
                width: 450px;
                height: 50px;
                margin-top: 20px;
                margin-left: 350px;
                border: 1px #000 solid;
                float: left;
                color: #ccc;    
            }
            .searchbtn{
                width: 150px;
                height: 53px;
                border: 1px #000 solid;
                border-left:0px; 
                margin-top: 20px;
                background-color: #fff;
                float: left;
                cursor: pointer
            }