/*
* @Author: Dell
* @Date:   2019-12-25 18:05:37
* @Last Modified by:   Dell
* @Last Modified time: 2019-12-25 19:03:30
*/
a{
    text-decoration: none;
    color: #000;
}
input{ 
    outline: none 
} 
#boxx{
    width: 320px;
    height: 450px;
    padding: 0 20px;
    border: 2px solid black;
    margin: 50px auto;
    display:block;
    border-radius:70px 70px 70px 70px;
}
.tit{
    margin-top: 10px;
    margin-bottom: 10px;
    transform:scale(0.5);
    margin-left:-110px;
}
.brand{
    color: #1688ea;
    font-size: 18px;
    margin-right: 20px;
}
.inp{
    width: 100%;
    height: 30px;
    margin-top:-200px;
    text-indent: 8px;
    border-color:pink;
    border-radius:70px 70px 70px 70px;
}
.notice{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.code{
    width: 60%;
}
.getCode{
    width: 35%;
    height: 44px;
    margin-top:-5px;
    border-radius:70px 70px 70px 70px;
    float: right;
    border: none;
    background-color: #FFB6C1;
}
.codeImg{
    height: 20px;
}
.btn{
    background: #FFB6C1;
    width: 70%;
    height: 30px;
    border: none;
    margin-top: 8px;
    margin-left:50px;
    color: black;
    border-radius:70px 70px 70px 70px;
}
#copyright {
    text-align: center;  
}
#copyright>.word{
    font-weight:bold ;
    font-size: 20px;
}
#email{
    margin:0 auto;
    width: 705px;
    height: 51px;
    position: absolute;
    left: 50%; 
    margin-left: -350px;
}
.email{
    width: 70%;
    height: 50px;
    margin-top: 20px;
    border: 1px #000 solid;
    float: left;
    color: #ccc;    
}
.enter{
    width: 28.3%;
    height: 51px;
    border: 1px #000 solid;
    border-left:0px; 
    margin-top: 20px;
    background-color: #fff;
    float: left;
    }
#p3{
    display: inline-block;
    width: 500px;
    margin-top: 10px;
    font-size: 10px;
    color: #ccc;
}
#about{
    margin:0 auto;
    width: 500px;
    height: 200px;
    position: absolute;
    left: 50%; 
    margin-top: 150px; 
    margin-left: -250px;
}