*{
    margin: 0px;
    padding: 0px;
}
#header{
    width: 100%;
    height:150px ;
    background: white;
}
#header1{
    float: left;
    margin-left: 120px;
    margin-top: 80px;
    transform:scale(1);
}
#header2{
    float: left;
    margin:0 auto;
    margin-left: 320px;
    margin-top: -10px;
    transform:scale(0.7);
}
#nav1{
    width:620px;
    height:50px;
    float:left;
    display:inline-block;
    margin-left:250px;
    margin-top:-20px;
    border:2px solid black;
    border-radius:70px 70px 70px 70px;
}
ul{
    list-style:none;
    display:inline;
}
#boxx{
    width: 320px;
    height: 450px;
    padding: 0 20px;
    border: 2px solid black;
    margin: 50px auto;
    display:block;
    border-radius:70px 70px 70px 70px;
}
.tit{
    margin-top: 10px;
    margin-bottom: 10px;
    transform:scale(0.5);
    margin-left:-110px;
}
.brand{
    color: #1688ea;
    font-size: 18px;
    margin-right: 20px;
}
.inp{
    width: 100%;
    height: 30px;
    margin-top:-200px;
    text-indent: 8px;
    border-color:pink;
    border-radius:70px 70px 70px 70px;
}
.notice{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.code{
    width: 60%;
}
.getCode{
    width: 35%;
    height: 44px;
    margin-top:-5px;
    border-radius:70px 70px 70px 70px;
    float: right;
    border: none;
    background-color: #FFB6C1;
}
.codeImg{
    height: 40px;
}
.btn{
    background: #FFB6C1;
    width: 70%;
    height: 30px;
    border: none;
    margin-top: 8px;
    margin-left:50px;
    color: black;
    border-radius:70px 70px 70px 70px;
}
.hyperlink li{
    float:left;
    width:110px;
    margin-top:15px;
    margin-right:8px;
    text-align:center;
    padding:0px;
}

.hyperlink a{
    display:block;
    color:black;
    text-decoration:none;
}
.hyperlink a:visited{
    color:black;
}
.hyperlink a:hover{
    color:pink;
    text-decoration: line-through;
}
.hyperlink a:active{
    color:black;
}
#header3{
    float: left;
    display:block;
    position:absolute;
    margin-left: 1100px;
    margin-top:80px;
    transform:scale(0.8);
}
.choice li{
    float:left;
    width:100px;
    margin-right:8px;
    text-align:center;
    padding:0px;
}
#search{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 80px;
    display: none;
    background-color:#FFB6C1;
}
.search{
    width: 450px;
    height: 50px;
    margin-top: 10px;
    margin-left: 480px;
    border: 2px #000 solid;
    border-radius:70px 70px 70px 70px;
    float: left;
    color: #ccc;    
}
.searchbtn{
    width: 150px;
    height: 53px;
    border: 2px #000 solid;
    border-radius:70px 70px 70px 70px;
    border-left:0px; 
    margin-top: 9.5px;
    background-color: #fff;
}
#list{
    width:100%;
    height:100%;
    position:fixed;
    border:2px #000 solid;
    margin-left:0px;
    float:left;
    display:none;
}
#list input{
    float:left;
    margin-left:200px;
    margin-top:75px;
    border:none;
    background-color:transparent;
    font-weight: bold;
    font-size:20px;
}
.firstbg{
    height:600px;
    width:100%;
    float:left;
    display:block;
    position:absolute;
    margin-top:10px;
    background:url(imgs/11.jpg) no-repeat center;
}
.recommend1{
    float:left;
    position:relative;
    margin-left:320px;
    margin-top:650px;
}
.recommend2{
    float:left;
    position:relative;
    margin-left:320px;
    margin-top:50px;
}
.secondbg{
    height:600px;
    width:100%;
    display:block;
    margin-top:135px;
    background:url(imgs/22.jpg) no-repeat center;
    background-attachment: fixed;
}
#floatImg1{
    height:100px;
    position: fixed;
    right:5px;
    top:40px;
    opacity:60%;
    transform:scale(0.5);
}
.box{
    height:400px;
    width:1200px;
    margin:0 auto;
    position:relative;
    margin-top:700px;
    overflow: hidden;
}
.title{
    height:20px;
    margin:100px auto;
    background: #C0C0C0;
    overflow:hidden;
    margin-bottom:-90px;
}
.img{
    margin-left:250px;
}
.scroll{
    position:relative;
    overflow:hidden;
    margin-top:-22px;
    color:#DC143C;
    width:900px;
}
.slider{
    width:8400px;
    position:absolute;
    left:-1200px;
}
.slide{
    max-width:100%;
    max-height:100%;
    overflow:hidden;
    float:left;
    width:400px;
}
.box>span{
    display:block;
    width:30px; 
    height:50px;
    text-align:center;
    cursor:pointer;
    color:#DC143C;
    background-color:black;
    top:175px;
    line-height:50px;
    position:absolute;
    opacity:0;
}
#left{
    left:30px;
}
#right{
    right:30px;
}
.navdiv{
    float:left;
    position:relative;
    left:275px;
    margin-left:180px;
}
.nav>li{
    float:left;
    width:20px;
    height:20px;
    font-size:18px;
    cursor:pointer;
    margin-left:85px;
    margin-top:15px;
    border-radius:50%;
}
.nav .active{
    background:pink;
    color:white;
}
#copyright{
    margin-top:20px;
    text-align: center;
}
#about{
    margin:0 auto;
    width: 500px;
    height: 120px;
    position: absolute;
    left: 50%; 
    margin-top: 150px; 
    margin-left: -250px;
}
a{
    text-decoration: none;
    color: #000;
}
#email{
    margin:0 auto;
    width: 705px;
    height: 51px;
    position: absolute;
    left: 50%; 
    margin-left: -350px;
}
.email{
    width: 70%;
    height: 50px;
    margin-top: 20px;
    border: 1px #000 solid;
    float: left;
    color: #ccc;    
}
.enter{
    width: 28.3%;
    height: 51px;
    border: 1px #000 solid;
    border-left:0px; 
    margin-top: 20px;
    background-color: #fff;
    float: left;
}
#p3{
    display: inline-block;
    width: 500px;
    margin-top: 10px;
    font-size: 10px;
    color: #ccc;
}