*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none;
    color: #000;
}
input:focus{
    outline: none;
}
ul{
    list-style:none;
    display:inline;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden; 
}
#header{
    float: left;
    width: 100%;
    height:80px ;
    top:0px;
    background: white; 
    position: fixed;
}
#header1{
    float: left;
    margin-left: 30px;
    margin-top: 8px;
    transform:scale(0.7);
}
#header2{
    float: left;
    margin-left: 500px;
    margin-top: -25px;
    transform:scale(0.7);
}
#header2>img{
    margin-top: 30px;
}
#header3{
    float: right;
    margin-right:20px;
    margin-top:8px ;
    transform:scale(0.7);
}
#header3>input{
    width: 20px;
    height: 20px;
    border:none;
    border-radius:50%;  
    display: block;
    float: right;
}
#banner{
    width:500px;
    height: 30px;
    text-align: center;
    margin:0 auto;
    margin-top: 100px;
}

.imgs>div{
    margin:20px 0px 20px 52px;
    float: left;
    text-align:center;
    background: #FFF5EE;
}
.img{
    width: 380px;
    height: 380px;
    background: #FFF5EE;
}
.imgs img{
    width: auto;
    height: auto; 
    max-width: 100%;  
    max-height: 100%;
    background: #FFF5EE
}
.img p{
    font-size: 18px;
    font-weight: bold;
    background: #FFF5EE
}
.btn{
    width: 185px;
    height: 50px;
    border: 1px #000 solid;
    display: inline-block;
    background: #fff;
    float: left;
    margin-top: 40px;
}
.quickview{
    width: 185px;
    height: 50px;
    border: 1px #000 solid;
    display: inline-block;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 40px;
    float: left;
}
#copyright{
    text-align: center;
}
#email{
    margin:0 auto;
    width: 705px;
    height: 51px;
    position: absolute;
    left: 50%; 
    margin-left: -350px;
}
.email{
    width: 70%;
    height: 50px;
    margin-top: 20px;
    border: 1px #000 solid;
    float: left;
    color: #ccc;    
}
.enter{
    width: 28.3%;
    height: 51px;
    border: 1px #000 solid;
    border-left:0px; 
    margin-top: 20px;
    background-color: #fff;
    float: left;
}
#p3{
    display: inline-block;
    width: 500px;
    margin-top: 10px;
    font-size: 10px;
    color: #ccc;
}
#about{
    margin:0 auto;
    width: 500px;
    height: 150px;
    position: absolute;
    left: 50%; 
    margin-top: 150px; 
    margin-left: -250px;
}
#search{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 80px;
    display: none;
    background-color: #FFFAF0;
}
.search{
    width: 450px;
    height: 50px;
    margin-top: 20px;
    margin-left: 350px;
    border:1px #000 solid;
    float: left;
    color: #ccc;
}
.searchbtn{
    width: 150px;
    height: 53px;
    border: 1px #000 solid;
    border-left:0px; 
    margin-top: 20px;
    background-color: #fff;
    float: left;
}
#san{
    margin-left: 1050px;
}
#list input{
    float:left;
    margin-left:160px;
    margin-top:80px;
    border:none;
    background-color:transparent;
    font-weight: bold;
    font-size:20px;
}
#list{
    width:100%;
    height:100%;
    position:fixed;
    border:2px #000 solid;
    margin-left:0px;
    float:left;
    display:none;
}
#shopcar{
    height:300px;
    width: 250px;
    float: right;
    margin-top: 30px;
    text-align: center;
    position: fixed;
    top: 80px;
    display: none;
    background-color: #000;
    opacity :0.7;
    border-radius:40px 40px 40px 40px;
    color: #fff;
    margin-left: 2px;
}